* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header-container {
    width: 100%; 
    background: rgba(128, 128, 128, 0.5); /* Translucent gray */
    padding: 20px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    justify-content: flex-start;
}


.logo-name-container {
    display: flex;
    align-items: center;
    border: 0px;
    border-radius: 0px;
    margin-left: 400px;
}
.QIT{
    font-size: 12px;
    color:  rgb(145, 13, 13);
    margin-right: -10px;
}

.logo {
    width: 80px;
    height: 60px;
    margin-right: 0px; 
}

.uni-name {
    font-size: 14px;
    color: rgb(145, 13, 13);
    margin-left:-10px;
}

.QIT{
    font-weight: bold;
    font-size: 30px;

}
.QIT, .uni-name {
    font-family: 'Times New Roman', Times, serif;
}